$light: #ffffff;
$dark: #333333;
$dark_1: lighten($dark, 5%);
$dark_2: lighten($dark, 10%);
$dark_3: lighten($dark, 20%);
$dark_4: lighten($dark, 30%);
$dark_5: lighten($dark, 40%);
$dark_6: lighten($dark, 50%);
$dark_7: lighten($dark, 60%);
$dark_8: lighten($dark, 70%);
$dark_9: lighten($dark, 80%);

$orange: #FF7C24;
$orange_l1: lighten($orange, 10%);
$orange_l2: lighten($orange, 20%);
$orange_l3: lighten($orange, 30%);
$orange_l4: lighten($orange, 35%);

$orange_d1: darken($orange, 5%);
$orange_d2: darken($orange, 10%);
$orange-d3: darken($orange, 15%);
$orange_d4: darken($orange, 20%);

$blue: #7092B9;
$blue_l1: lighten($blue, 5%);
$blue_l2: lighten($blue, 10%);
$blue_l3: lighten($blue, 15%);
$blue_l4: lighten($blue, 20%);

$blue_d1: darken($blue, 5%);
$blue_d2: darken($blue, 10%);
$blue_d3: darken($blue, 15%);
$blue_d4: darken($blue, 20%);

$aqua: #6EC1DC;
$aqua_l1: lighten($aqua, 10%);
$aqua_l2: lighten($aqua, 15%);
$aqua_l3: lighten($aqua, 20%);
$aqua_l4: lighten($aqua, 25%);

$aqua_d1: darken($aqua, 5%);
$aqua_d2: darken($aqua, 10%);
$aqua_d3: darken($aqua, 15%);
$aqua_d4: darken($aqua, 20%);
