.btn {
  padding: 8px 16px;
  background: $orange;
  border: 1px solid $orange;
  color: $light;
  transition: .35s;
  &:hover {
    background: $orange_d3;
    color: $light;
    transition: .35s;
  }
}