.form {
  &__wrap {
    padding: 32px;
    max-width: 439px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid $dark;
  }
  &__title {
    display: flex;
    margin: 0 auto 32px;
    align-items: center;
    justify-content: center;
  }
  &__title_icon {
    //width: 18px;
    //height: 23px;
    margin-right: 16px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  &__input {
    padding: 16px;
    width: 100%;
    margin-bottom: 16px;
    border: 0.5px solid $dark_5;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $dark;
    }
  }
  &__btn {
    width: 100%;
    text-transform: uppercase;
    background: $dark;
    border: 1px solid $dark;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  &__subtitle_icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__subtitle_text {
    color: $orange;
  }
  &__title_margin {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  &__description {
    color: $dark;
    margin-bottom: 16px;
  }
}
.form__checkbox:checked,
.form__checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.form__checkbox:checked + label,
.form__checkbox:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  line-height: 20px;
  cursor: pointer;
}
.form__checkbox:checked + label:before,
.form__checkbox:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 0.5px solid $dark_5;
}
.form__checkbox:checked + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 3px;
  top: 4px;
  width: 13px;
  height: 9px;
  border-radius: 1px;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $orange;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form__label {
  margin-bottom: 16px;
  a {
    color: $orange;
    span {
      color:$dark;
    }
  }
}