

.main-nav {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  position: relative;
  &__location {
    display: flex;
    margin-left: auto;
    color: $light;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
  }
  &__location-icon {
    margin-right: 8px;
  }
  &__location-city {
    position: relative;
    color: $light;
    transition: .35s;
    &:hover {
      transition: .35s;
      color: $orange-d3;
    }
    &:hover:after {
      background: $orange-d3;
      transition: .35s;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100%;
      background: $light;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: .35s;
    }
  }
}

.main-menu {
  &__item_link {
    &:hover {
      background: $orange;
      transition: .35s;
      color: $light;
    }
  }
  &__catalog_wrap {
    position: relative;
    //min-height: 39px!important;
  }
  &__catalog_btn {
    padding: 8px 16px!important;
    display: flex!important;
    align-items: center;
    background: #FF7C24;
    width: 233px;
  }
  &__catalog_btn_icon {
    margin: 0;
    padding: 0;
  }
  &__catalog_btn_title {
    color: $light;
    margin: 0 8px;
  }
  &__category_list {
    width: 321px!important;
    background-color: $orange_l4!important;
    li {
      width: 100%;
      //height: 58px;
      border-top: .5px solid $orange;
      &:first-child {
        border-top: none;
      }
    }
  }
  &__category_item {
    position: relative;
    width: 100%!important;
    .sub-arrow {
      display: none;
    }
  }
  &__category_item-link {
    padding: 20px 32px!important;
    width: 100%;
    display: block;
    transition: .35s;
    display: flex!important;
    span, p {
      color: $dark;
      transition: .35s;
    }
    &:hover span {
      color: $light;
      transition: .35s;
    }
    &:hover p {
      color: $light;
      transition: .35s;
    }
    &:hover {
      background: $orange!important;
    }
  }
}


.catalog-title-icon {
  margin-right: 16px;
  width: 15px;
}


.sub-category {
  &__list {
    width: 321px!important;
    background: $light;
    border: 0.5px solid $orange;
    margin-left: 320.5px!important;
    margin-top: 0!important;
    top: 0!important;
  }
  &__item {
    width: 100%;
    display: block;
    transition: .35s;
    //height: 58px;
    padding: 20px 0;
    background: $light;
  }
  &__link {
    padding: 21px 0 21px 64px!important;

    border-left: unset!important;
    min-height: auto!important;
    height: 100%!important;
    width: 100%!important;
    span {
      position: relative!important;
      color: $dark;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $orange;
        top: 100%;
        left: 0;
        opacity: 0;
        transition: .35s;
        position: absolute;
      }
    }
    &:hover span::after {
      opacity: 1;
      color: $orange;
      transition: .35s;
    }
    &:hover span {
      color: $orange;
      transition: .35s;
    }
    &:hover {
      background: transparent!important;
      transition: .35s;

    }
  }
}
.icon-catalog-surface-icon:before, .icon-catalog-fulfilment-icon:before, .icon-catalog-arrow-right:before {
  display: none;
}
.icon-catalog-arrow-right {
  margin-left: auto;
}
.sm-clean ul {
  max-width: unset!important;
  min-width: unset!important;
}
@media screen and (max-width: 1032px) {
  .main-menu__catalog_btn {
    width: 100%;
  }
  .main-menu__category_list {
    width: 100%!important;
  }
  .sub-category__list {
    width: auto!important;
    margin-left: 0!important;
    border: none;
  }

}

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}
#main-menu {
  clear: both;
}

@media (min-width: 1068px) {
  #main-menu {
    float: left;
    clear: none;
  }
}

/* Mobile menu toggle button */

.main-menu-btn {
  float: left;
  margin: 6px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: $light;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1068px) {

  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}
.menu_feedback-btn {
  display: none;
}
@media (max-width: 1068px) {
    .menu_feedback-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      margin: 32px auto!important;
      border-top: none!important;
      border-radius: 0 0 0 0!important;
      transition: .35s;
      a {
        padding-right: 0!important;
        padding: 8px 16px!important;
        color: $light!important;
        &:hover {
          background: $orange_d3;
          color: $light;
          transition: .35s;
        }
      }
    }
  }

