.section {
  margin-bottom: 64px;
  &__title {
    color: $dark;
    margin-bottom: 32px;
    margin-left: 16px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $orange;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-16px, -50%);
    }
  }
}
.main-screen {
  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: $dark;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    span {
      color: $orange;
    }
  }
  &__swiper-container {
    position: relative;
    height: auto;
  }
  &__swiper-wrapper {
    height: auto;
  }
  &__swiper-slide {
    position: relative;
    height: auto;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__slider_button-prev {
    width: 43px;
    height: 52px;
    background: $dark;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__slider_button-next {
    width: 43px;
    height: 52px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99999999999999999;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__swiper-pagination {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  &__swiper_bullet {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $dark;
    display: block;
    margin-right: 4px;
  }
  &__swiper_bullet-active {
    width: 32px;
    height: 5px;
    border-radius: 55px;
    background: $orange;
    display: block;
  }
}
.swiper-button-disabled {
  opacity: .5;
}

//Aadvantages

.advantages {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__item_icon {
    width: 59px;
    height: 59px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
  }
}