.section {
  margin-bottom: 64px;
  &__title {
    color: $dark;
    margin-bottom: 32px;
    margin-left: 26px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $orange;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-26px, -50%);
    }
  }
}
.main-screen {
  margin-bottom: 64px;
  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: $dark;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    span {
      color: $orange;
    }
  }
  &__swiper-container {
    position: relative;
    height: auto;
  }
  &__swiper-wrapper {
    height: auto;
  }
  &__swiper-slide {
    position: relative;
    height: auto;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__slider_button-prev {
    width: 43px;
    height: 52px;
    background: $dark;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__slider_button-next {
    width: 43px;
    height: 52px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99999999999999999;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__swiper-pagination {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  &__swiper_bullet {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $dark;
    display: block;
    margin-right: 4px;
  }
  &__swiper_bullet-active {
    width: 32px;
    height: 5px;
    border-radius: 55px;
    background: $orange;
    display: block;
  }
}
.swiper-button-disabled {
  opacity: .5;
}
.swiper-button-next, .swiper-button-prev, .main-screen__swiper_bullet {
  cursor: pointer;
}
@media screen and (max-width: 814.5px){
  .main-screen__title {
    font-size: 37px;
    line-height: 44px;
    left: 75px;
  }
  .main-screen__swiper-pagination {
    bottom: 16px;
  }
}
@media screen and (max-width: 617.5px){
  .main-screen__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
  .main-screen__swiper-pagination {
    bottom: 16px;
  }
}
@media screen and (max-width: 507.5px){
  .main-screen__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    left: 44px;
  }
  .main-screen__slider_button-next,
  .main-screen__slider_button-prev {
    width: 26px;
    height: 38px;
  }
}
@media screen and (max-width: 411.5px) {
  .main-screen__title {
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
  }
  .main-screen__swiper-pagination {
    bottom: 8px;
  }
}

//Aadvantages

.advantages {
  margin-bottom: 32px;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__item_icon {
    width: 59px;
    height: 59px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
  }
}

//Catalog

.catalog {
  margin-bottom: 64px;
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  &__item {
    width: 238px;
    height: 150px;
    display: block;
    margin-bottom: 16px;
  }
  &__item_link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item_title {
    color: $light;
    margin-bottom: 4px;
    text-align: center;
  }
  &__item_subtitle {
    color: $light;
  }
  &__btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

//Gallery
.gallery {
  &__item_link {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.3s;
    margin-bottom: 32px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }
    &:hover .gallery__item_hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
  &__item_hover {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    background: #99999994;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    img {
      width: 100px;
      height: 100px;
    }
  }
  &__btn {
    color: $light;
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}


//Geography
.geography {
  margin-bottom: 32px;
  &__image {
    max-width: 735px;
    width: 100%;
    height: auto;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  &__form_wrap {
    margin-left: auto;
  }
  &__form_label {
    margin: 16px 0 32px;
  }
}
@media screen and (max-width: 993.5px){
  .geography__image {
    margin: 0 auto 64px;
  }
  .geography__form_wrap {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768.5px){
  .geography__image {
    margin: 0 auto 32px;
  }
}
//Cities
.cities {
  color: $dark;
  margin-bottom: 16px;
  &__title {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    span {
      color: #7092B9;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    position: relative;
    margin-right: 32px;
    margin-bottom: 16px;
    span {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $orange;
      left: -16px;
      top: 50%;
      transform: translate(0, -50%);
    }
    a {
      color: $dark;
      transition: .35s;
      &:hover {
        color: $orange;
        transition: .35s;
      }
    }
  }
}
.cities-other {
  color: $dark;
  margin-bottom: 47px;
  &__title {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    span {
      color: #7092B9;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    position: relative;
    margin-right: 32px;
    margin-bottom: 16px;
    span {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $orange;
      left: -16px;
      top: 50%;
      transform: translate(0, -50%);
    }
    a {
      color: $dark;
      transition: .35s;
      &:hover {
        color: $orange;
        transition: .35s;
      }
    }
  }
}

