.offer {
  &__wrap {
    width: 100%;
    height: auto;
    position: relative;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    top: 0;
    left: 0;
  }
  &__title {
    color: $light;
    margin-bottom: 16px;
    text-align: center;
  }
  &__description {
    color: $light;
    text-align: center;
    max-width: 674px;
  }
}
.master-call {
  //margin-top: 64px;
  margin-bottom: 32px;
  overflow: hidden;
  background: url("../img/master-call/master-call-bg.png");
  background-repeat: no-repeat;
  background-position: calc(46% - 304px);

  &__wrap {
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
    border-top: 2px solid $blue;
    padding-top: 55px;

  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon_left {

  }
  &__text {
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }
  }
  &__order {
    text-align: center;
    margin: 37px 0 49px;
  }
  &__phone {
    padding: 32px 0;
    background: $blue;
    position: relative;
    z-index: -1;
    a {
      color: $light;
    }
  }
  &__phone_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: $light;
      transition: .35s;
      &:hover {
        color: $orange-d3;
        transition: .35s;
      }
    }
  }
  &__phone_icon {
    margin-right: 16px;
  }
  &__bg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-36%, 0);
    img  {
      display: block;
    }
  }
}
@media screen and (max-width: 993.3px){
  .master-call {
    background: none;
  }
  .master-call__wrap {
    padding-top: 32px;
  }
}
@media screen and (max-width: 661.5px){
  .master-call__icon_left,
  .master-call__icon_right{
    display: none;
  }
  .master-call__text {
    margin: 0;
  }
}
@media screen and (max-width: 411.5px) {
  .offer__title {
    margin-bottom: 10px;
  }
}

//Price

.price {
  &__table {
    width: 100%;
  }
  &__table_head {
    background: $orange_l4;
    height: 20px;
    line-height: 68px;
  }
  &__table_head_item {
    text-align: center;
    width: 20%;
    line-height: 68px;
  }
  &__table_body_title {
    text-align: center;
    td {
      height: 53px;
    }
  }
  &__table_body_row {

    td {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      height: 68px;
      text-align: center;

    }
  }
}
tbody tr:nth-child(odd) {
  background: $aqua_l4;
}
tbody tr:nth-child(even) {
  background: $light;
}
.price__table_body_row td:first-child {
  text-align: left;
  padding-left: 13px;
}
td {
  vertical-align: middle;
}

//Product-advanages
.product-advanages {
  margin-bottom: 32px;
}

//Stages

.stages {
  &__item_icon {
    position: relative;
    margin-bottom: 32px;
  }
  &__item_img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &__item_num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 7px solid $aqua_l4;
    background: $aqua;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
  }
  &__item_title {
    color: $orange;
    text-align: center;
    margin-bottom: 16px;
  }
  &__item_description {
    text-align: center;
    a {
      color: $dark;
    }
  }
}

//Services

.services {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 225px;
    height: auto;
  }
  &__item_image {
    margin-bottom: 16px;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__item_title {
    text-align: center;
    color: $dark;
  }
}