.offer {
  &__wrap {
    width: 100%;
    height: auto;
    position: relative;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    top: 0;
    left: 0;
  }
  &__title {
    color: $light;
    margin-bottom: 16px;
    text-align: center;
  }
  &__description {
    color: $light;
    text-align: center;
    max-width: 674px;
  }
}
.master-call {
  >.container-fluid {
    position: relative;
  }
  //margin-top: 64px;
  margin-bottom: 32px;
  overflow: hidden;
  background: url("../img/master-call/master-call-bg.png");
  background-repeat: no-repeat;
  background-position: calc(46% - 304px);

  &__wrap {
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
    border-top: 2px solid $blue;
    padding-top: 55px;

  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon_left {

  }
  &__text {
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }
  }
  &__order {
    text-align: center;
    margin: 37px 0 49px;
  }
  &__phone {
    height: 96px;
    background: $blue;
    position: relative;
    z-index: -1;
    a {
      color: $light;
    }
  }
  &__phone_inner {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }
  &__phone_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 96px;
    width: 100%;
    a {
      color: $light;
      transition: .35s;
      &:hover {
        color: $orange-d3;
        transition: .35s;
      }
    }
  }
  &__phone_icon {
    margin-right: 16px;
  }
  &__bg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-36%, 0);
    img  {
      display: block;
    }
  }
}
@media screen and (max-width: 993.3px){
  .master-call {
    background: none;
  }
  .master-call__wrap {
    padding-top: 32px;
  }
}
@media screen and (max-width: 661.5px){
  .master-call__icon_left,
  .master-call__icon_right{
    display: none;
  }
  .master-call__text {
    margin: 0;
  }
}
@media screen and (max-width: 411.5px) {
  .offer__title {
    margin-bottom: 10px;
  }
}

//Price


//Product-advanages
.product-advanages {
  margin-bottom: 32px;
}

//Stages

.stages {
  &__item_icon {
    position: relative;
    margin-bottom: 32px;
  }
  &__item_img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &__item_num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 7px solid $aqua_l4;
    background: $aqua;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
  }
  &__item_title {
    color: $orange;
    text-align: center;
    margin-bottom: 16px;
  }
  &__item_description {
    text-align: center;
    a {
      color: $dark;
    }
  }
}
@media screen and (max-width: 993.5px){
  .stages__item {
    margin-bottom: 32px;
  }
}
//Services

.services {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 225px;
    height: auto;
  }
  &__item_image {
    margin-bottom: 16px;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__item_title {
    text-align: center;
    color: $dark;
  }
}
@media screen and (max-width: 915.5px){
  .services__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .services__item {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 648.5px){
  .bottom-offer__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 468.5px){
  .bottom-offer__title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 399.5px){
  .bottom-offer__title {
    font-size: 15px;
    line-height: 20px;
  }
}