.header {
  &__top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
  }
  &__logo {
    width: 283px;
    height: 78px;
    display: flex;
    align-items: center;
  }
  &__logo_image {
    width: 78px;
    height: 78px;
    margin-right: 4px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  &__logo_text {
    color: $blue_d2;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 800;
    font-size: 18px;
    span {
      color: $orange;
      font-size: 10px;
      font-weight: 800;
    }
  }
  &__top_nav_item {
    display: flex;
    align-items: center;
  }
  &__top_nav_address {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        display: block;
      }
    }
  }

  &__top_nav_item-icon {
    margin-right: 16px;
  }
  &__top_nav_phone {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $dark;
        transition: .35s;
        &:hover {
          color: $orange-d3;
          transition: .35s;
        }
      }
      img {
        display: block;
      }
    }
  }
  &__top_nav_feedback {
    display: flex;
    flex-direction: column;
  }
  &__top_nav_feedback-item-mail {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    a {
      color: $dark;
      transition: .35s;
      &:hover {
        color: $orange-d3;
        transition: .35s;
      }
    }
    img {
      display: block;
    }
  }
  &__top_nav_feedback-item-btn {
    display: flex;
    justify-content: center;
  }
  &__main_nav {
    padding: 16px 0;
    background: $blue_d1;
  }
}
@media screen and (max-width: 910.5px) {
  .header__top_nav_address {
    display: none;
  }
}
@media screen and (max-width: 698.5px) {
  .header__top_nav_feedback-item-mail {
    display: none;
  }
  .header__top_nav_item-feedback {
    width: 100%;
    justify-content: flex-end;
    margin-top: 16px;
  }
  .header__top_nav {
    flex-wrap: wrap;
  }
  //.header__top_nav_item {
  //  margin-left: auto;
  //}
}
@media screen and (max-width: 477.5px) {
  .header__top_nav {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 32px;
  }
  .header__top_nav_item-feedback {
    justify-content: center;
  }
}